body{
	background: linear-gradient( to bottom, #68EACC 0% , #497BE8 100%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
input::placeholder{
	opacity: .5;
}
#add{
	font-size: 40px;
	color: #ffffff;
}
fieldset{
	height: 275px;
	width: 200px;
	border: 2px solid #6BBFFF;
	border-radius: 10px;
	padding: 0;
	margin: 0;
}
fieldset legend{
	margin-left: 20px;
}
#inputTask{
	display: flex;
	width: 50%;
	height: 60px;
	margin-top: 50px;
}

#input{
	flex: 8;
	font-size: 25px;
	padding-left: 20px;
	border-radius: 10px;
	border: 1px solid #6BBFFF;
	outline: none;
}
#button{ 
	flex: 1;
	margin-left: 7px;
	background-color: #6BBFFF;
	border: none ;
	outline: none;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
#categoryList{
	padding:0;
}
#categoryList li{
	position: relative;
	text-align: left;
	list-style: none;
	height: 45px;
	line-height: 30px;
	background-color: #f2f2f2;
	padding-left: 10px; 
	margin-bottom: 5px;
	height: 100%;
	border-radius: 2px;
	cursor: pointer;
}
#categoryList li:hover{
	background-color: #a2a2a2;
}
#categoryList li .edit{
	position: absolute;
	background-color: #6BBFFF;
	right: -25px;
	width: 30px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	opacity: 0.01;
	visibility: hidden;
}
#categoryList li:hover .edit{
	right: -30px;
	visibility: visible;
	opacity: 1;
}
#categoryList li .remove{
	position: absolute;
	background-color: #ff0000;
	right: -25px;
	width: 30px;
	text-align: center;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	transition: 0.3s;
	visibility: hidden;
	opacity: 0.01;
}
#categoryList li:hover .remove{
	right: -60px;
	visibility: visible;
	opacity: 1;
}
#categoryList li span ion-icon{
	height: 13px;
	color: white;
}

.container{
	width: 80%;
}

.content{
	width:40%;
	margin-top: 50px ;
	background-color: #fff;
	padding: 50px;
	border-radius: 20px;
}

#deleted{
	text-align: center;
}

