
input::placeholder{
	opacity: .5;
}
ion-icon{
	font-size: 40px;
	color: #ffffff;
}
fieldset{
	height: 350px;
	width: 275px;
	border: 2px solid #6BBFFF;
	border-radius: 10px;
}
.userInt{
	margin-top: 50px;
}
#getInput{
	display: flex;
	width: 50%;
	height: 110px;
}

#input{
	flex: 8;
	font-size: 25px;
	padding-left: 20px;
	border-radius: 10px;
	border: 1px solid #6BBFFF;
}
#button{ 
	flex: 0.7;
	margin-left: 7px;
	background-color: #6BBFFF;
	border: none ;
	outline: none;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
.buttonIcon{
	width: 100%;
	height: 100%;
}